<div class="login-page-container">
    <div class="login-page">
        <div class="login-form">
            <form action="#">
                <h1>Login</h1>
                <div class="login-content">
                    <div class="input-field">
                        <input type="text" placeholder="PHONE" autocomplete="nope">
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="NAME" autocomplete="nope">
                    </div>
                    <div class="input-type">
                        <span>type: </span>
                        <input type="radio" id="user" name="user_type" value="USER" checked>
                        <label for="user">USER</label>
                        <input type="radio" id="store" name="user_type" value="STORE">
                        <label for="store">STORE</label>
                    </div>
                </div>
                <div class="login-action">
                    <button>register</button>
                    <button>sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>