<div class="store-container">
  <div class="store-content">
    <div class="store-header">
      <h1>TEST NAME SETTING</h1>
      <img
        src="../../assets/images/home.svg"
        alt="Store setting"
        (click)="openStorePage()"
      />
    </div>
    <div class="break"></div>

    <div class="setting-content">
      <p>
        This page is designed for store managers to set their discount settings
        base on user rank
      </p>
      <h3>Rank setting</h3>
      <div class="rank-setting">
        <div class="bronze-setting">
          <h4>Bronze</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input type="number" name="" id="" />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input type="number" name="" id="" />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input type="number" name="" id="" />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="silver-setting">
          <h4>Silver</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input type="number" name="" id="" />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input type="number" name="" id="" />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input type="number" name="" id="" />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="gold-setting">
          <h4>Gold</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input type="number" name="" id="" />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input type="number" name="" id="" />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input type="number" name="" id="" />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="diamond-setting">
          <h4>Diamond</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input type="number" name="" id="" />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input type="number" name="" id="" />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input type="number" name="" id="" />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>
      </div>

      <button class="save-all" role="button">Save all</button>
    </div>
  </div>
</div>
