<div class="store-container">
  <div class="store-content">
    <div class="store-header">
      <h1>{{ storeName }}</h1>
      <img
        src="../../assets/images/home.svg"
        alt="Store setting"
        (click)="openStorePage()"
      />
    </div>
    <div class="break"></div>

    <div class="setting-content" *ngIf="dataLoaded">
      <p>
        This page is designed for store managers to set their discount settings
        base on user rank
      </p>
      <h3>Rank setting</h3>
      <div class="rank-setting">
        <div class="bronze-setting">
          <h4>Bronze</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input
                  type="number"
                  name=""
                  id="LEAST_NUMBER"
                  value="{{ bronzeSetting.LEAST_NUMBER }}"
                  (change)="onSettingChange($event, 'BRONZE')"
                />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_VALUE"
                  value="{{ bronzeSetting.DISCOUNT_VALUE }}"
                  (change)="onSettingChange($event, 'BRONZE')"
                />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_LIMIT"
                  value="{{ bronzeSetting.DISCOUNT_LIMIT }}"
                  (change)="onSettingChange($event, 'BRONZE')"
                />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="silver-setting">
          <h4>Silver</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input
                  type="number"
                  name=""
                  id="LEAST_NUMBER"
                  value="{{ silverSetting.LEAST_NUMBER }}"
                  (change)="onSettingChange($event, 'SILVER')"
                />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_VALUE"
                  value="{{ silverSetting.DISCOUNT_VALUE }}"
                  (change)="onSettingChange($event, 'SILVER')"
                />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_LIMIT"
                  value="{{ silverSetting.DISCOUNT_LIMIT }}"
                  (change)="onSettingChange($event, 'SILVER')"
                />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="gold-setting">
          <h4>Gold</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input
                  type="number"
                  name=""
                  id="LEAST_NUMBER"
                  value="{{ goldSetting.LEAST_NUMBER }}"
                  (change)="onSettingChange($event, 'GOLD')"
                />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_VALUE"
                  value="{{ goldSetting.DISCOUNT_VALUE }}"
                  (change)="onSettingChange($event, 'GOLD')"
                />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_LIMIT"
                  value="{{ goldSetting.DISCOUNT_LIMIT }}"
                  (change)="onSettingChange($event, 'GOLD')"
                />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>

        <div class="diamond-setting">
          <h4>Diamond</h4>
          <div class="dis-flex setting-items">
            <ul>
              <li>
                User purchased at least
                <input
                  type="number"
                  name=""
                  id="LEAST_NUMBER"
                  value="{{ diamondSetting.LEAST_NUMBER }}"
                  (change)="onSettingChange($event, 'DIAMOND')"
                />
                cup(s)
              </li>
              <li>
                The discount percentage for the next bill
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_VALUE"
                  value="{{ diamondSetting.DISCOUNT_VALUE }}"
                  (change)="onSettingChange($event, 'DIAMOND')"
                />
                (%)
              </li>
              <li>
                The number of the discount usage
                <input
                  type="number"
                  name=""
                  id="DISCOUNT_LIMIT"
                  value="{{ diamondSetting.DISCOUNT_LIMIT }}"
                  (change)="onSettingChange($event, 'DIAMOND')"
                />
              </li>
            </ul>
            <button class="save" role="button">Save</button>
          </div>
        </div>
        <div class="break"></div>
      </div>

      <button class="save-all" role="button" (click)="saveAllSetting()">Save all</button>
    </div>
  </div>
</div>
