<div class="user-purchased-container">
  <h3>User purchased</h3>
  <div class="user-purchased-content">
    <div class="user-purchased" *ngFor="let item of list; let i = index">
      <div class="left">
        <img src="{{getRankSVG(item)}}" alt="Rank" />
        <div>
          <p>{{getValue(item, 'name')}}</p>
          <p>09876565443</p>
        </div>
      </div>
      <div class="middle"></div>
      <div class="right">
        <div>
          <p>Purchased number</p>
          <p>{{getValue(item, 'purchasedCount')}}</p>
        </div>
        <div>
          <p>Discount remain</p>
          <p>{{getValue(item, 'discountRemain')}}</p>
        </div>
      </div>
    </div>
    <div class="break"></div>
  </div>
</div>
