<div class="store-page-container">
    <div class="store-page-content">
        <div class="store-page-header">
            <h1>TEST NAME</h1>
            <img src="../../assets/images/setting.svg" alt="Store setting">
        </div>
        <div class="break"></div>
        <div class="store-page-qr-code">
            <div class="qr-border">
                <img src="../../assets/images/Example-QR-code.webp" alt="Store QR code">
            </div>
            <p class="qr-code-desc">Scan for point accumulation</p>
        </div>
        <div class="break"></div>
        <div class="store-page-user-rank">
            <app-user-purchased></app-user-purchased>
        </div>
    </div>
</div>