<div class="store-container">
    <div class="store-content">
        <div class="store-header">
            <h1>TEST NAME</h1>
            <div class="header-icon">
                <img class="logout" src="../../assets/images/logout.svg" alt="Logout" (click)="logout()">
                <img class="setting" src="../../assets/images/setting.svg" alt="Store setting" (click)="openStoreSetting()">
            </div>
        </div>
        <div class="break"></div>
        <div class="store-page-qr-code">
            <div class="qr-border">
                <img src="../../assets/images/Example-QR-code.webp" alt="Store QR code">
            </div>
            <p class="qr-code-desc">Scan for point accumulation</p>
        </div>
        <div class="break"></div>
        <div class="store-page-user-rank">
            <app-user-purchased></app-user-purchased>
        </div>
    </div>
</div>